<div class="relative">
    <input 
        class="w-full p-3 pl-20 bg-black outline-none border-outline border-[0.1rem] rounded-md placeholder:text-white focus:border-accent" 
        [ngClass]="{invalid: invalidInput}"
        [formControl]="formControl"
        [type]="type" 
        [placeholder]="placeholder"
        (blur)="onInputTouched()"
    />
    <img 
        [alt]="placeholder" 
        [src]="iconPath" 
        class="absolute left-5 top-[50%] -translate-y-[50%] w-10" 
    />
</div>