<div>
    <div class="w-[90%] mx-auto xl:w-full xl:mx-0 flex justify-between items-center">
        <div class="text-[30px]">{{title()}}</div>

        <!--profile icon-->
        <div class="relative">
            <img 
                class="w-8 h-8 rounded-[50%] hover:cursor-pointer"
                [src]='socialProvider()? socialProvider()!.profilePicUrl: "assets/images/user.png"' alt="profile"
                (click)="onShowMenu()"
            />

            <!--user active circle-->
            <div class="absolute bottom-1 left-0 w-2 h-2 rounded-[50%] bg-accent"></div>

            @if (showMenu()) {
                @if (showMobileMenu()) {
                    <div class="fixed top-0 left-0">
                        <!--backdrop-->
                        <div class="fixed top-0 left-0 w-full h-full bg-[#00000088]"></div>

                        <!--mobile menu-->
                        <div class="fixed top-0 right-0 min-w-[200px] ml-[200px] box-border p-3 border-solid border-accent border-[1px] rounded-bl-md bg-black">
                            <div class="flex justify-between items-center">
                                <!--profile icon-->
                                <img 
                                    class="w-8 h-8 rounded-[50%] hover:cursor-pointer"
                                    [src]='socialProvider()? socialProvider()!.profilePicUrl: "assets/images/user.png"' alt="profile"
                                    (click)="onShowMenu()"
                                />
                                <!--close mobile menu-->
                                <img 
                                    class="ml-auto mb-1 w-5 h-5 hover:cursor-pointer"
                                    src="assets/images/cancel.png" 
                                    alt="close"
                                    (click)="showMenu.set(false)"
                                />
                            </div>

                            <!--space-->
                            <div class="w-full h-[1rem]"></div>
                            
                            <!--menu options-->
                            <app-menu-contents
                                [email]="email()"
                                [socialProvider]="socialProvider()"
                            ></app-menu-contents>
                        </div>
                    </div>
                }
                @else {
                    <div class="absolute mt-5 left-[50%] -translate-x-[50%] min-w-[200px] box-border p-3 border-solid border-accent border-[1px] rounded-md bg-black">
                        <img 
                            class="ml-auto mb-1 w-5 h-5 hover:cursor-pointer"
                            src="assets/images/cancel.png" 
                            alt="close"
                            (click)="showMenu.set(false)"
                        />
                        
                        <!--menu options-->
                        <app-menu-contents
                            [email]="email()"
                            [socialProvider]="socialProvider()"
                        ></app-menu-contents>
                    </div>
                } 
            }

        </div>
    </div>
</div>
