<div>
    <app-grog-header [isSmall]="isSmall"></app-grog-header>

    <!--space-->
    <div class="w-full h-[1.3rem]"></div>

    <app-message-box message="Please enter the OTP sent to your email">
    </app-message-box>

    <!--space-->
    <div class="w-full h-[1.3rem]"></div>

    <!--otp input boxes-->
    <div class="flex justify-between">
        <input
            class="opt-1st w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            maxlength="1" [(ngModel)]="otpInput1" (ngModelChange)="onOtpChange($event, otp2)" />
        <input #otp2
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            maxlength="1" [(ngModel)]="otpInput2" (ngModelChange)="onOtpChange($event, otp3)"/>
        <input #otp3
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            maxlength="1" [(ngModel)]="otpInput3" (ngModelChange)="onOtpChange($event, otp4)" />
        <input #otp4
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            maxlength="1" />
    </div>

    <!--space-->
    <div class="w-full h-3"></div>

    <!--resend otp & timer-->
    <div class="flex justify-between px-1">
        <div class="text-accent">Resent OTP</div>
        <div>00:00</div>
    </div>

    <!--space-->
    <div class="w-full h-3"></div>

    <!--verify btn-->
    <div class="xl:w-1/2 xl:mx-auto">
        <app-action-btn btnText="Verify OTP"></app-action-btn>
    </div>


</div>