<div>
    <!--space-->
    <div class="w-full h-[1.3rem]"></div>

    <app-message-box [message]="message()">
    </app-message-box>

    <!--space-->
    <div class="w-full h-[1rem]"></div>

    <!--otp verification status-->
    <app-message 
        [type]="
            isVerifying() ? 'log': 
            isVerificationComplete() ? 'success':
            'error'
        " 
        [message]="
            isVerifying() ? 'Verifying OTP': 
            isVerificationComplete() ? 'OTP verified. Redirecting...':
            showErrorResponse() ? errorResponse(): ''
        ">
    </app-message>

    <!--otp input boxes-->
    <div class="flex justify-between">
        <input
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] 2xl:w-[200px] 2xl:h-[200px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            [class.border-error]="showErrorResponse()" [class.text-error]="showErrorResponse()" maxlength="1"
            [(ngModel)]="otpInput1" (ngModelChange)="onOtpChange($event, otp2)" />
        <input #otp2
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] 2xl:w-[200px] 2xl:h-[200px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            [class.border-error]="showErrorResponse()" [class.text-error]="showErrorResponse()" maxlength="1"
            [(ngModel)]="otpInput2" (ngModelChange)="onOtpChange($event, otp3)" />
        <input #otp3
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] 2xl:w-[200px] 2xl:h-[200px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            [class.border-error]="showErrorResponse()" [class.text-error]="showErrorResponse()" maxlength="1"
            [(ngModel)]="otpInput3" (ngModelChange)="onOtpChange($event, otp4)" />
        <input #otp4
            class="w-[75px] h-[75px] lg:w-[140px] lg:h-[140px] 2xl:w-[200px] 2xl:h-[200px] text-[40px] xl:text-[56px] text-center border-solid border-[2px] border-outline bg-black rounded-md focus:border-accent focus:outline-none"
            [class.border-error]="showErrorResponse()" [class.text-error]="showErrorResponse()" maxlength="1"
            [(ngModel)]="otpInput4" (ngModelChange)="onOtpChange($event, null)" />
    </div>

    <!--space-->
    <div #space class="w-full h-3"></div>

    <!--resend otp & timer-->
    <div class="flex justify-between px-1">
        <div class="text-accent hover:cursor-pointer" (click)="onResendOtp()">
            {{ allowResend() ? 'Resend OTP': '' }}
        </div>
        <div>{{ formattedWaitTime() }}</div>
    </div>
</div>
