<div>
    <!--space-->
    <div class="w-full h-[1.3rem]"></div>

    @if (showMessage()) {
        <app-message-box [message]="message()"></app-message-box>
    }

    <app-message 
        [type]="showHttpErrorResponse()? 'error': 'success'"
        [message]="
            showHttpErrorResponse() ? httpErrorMessage(): 
            showSuccessfulPasswordResetNotif()? 'Password reset successful. Redirecting...': 
            ''
        ">
    </app-message>

    <form [formGroup]="passwordResetForm">
        <div class="xl:grid xl:grid-cols-2 xl:gap-4">
            <div>
                <app-form-control
                    formControlName="password"
                    type="password"
                    iconPath="./assets/images/password.svg"
                    placeholder="New Password"
                    [invalidInput]="passwordRequired! || passwordTooShort!">
                </app-form-control>

                <!--invalid password message-->
                <app-invalid-input-message
                    [message]="passwordRequired ? 'required': passwordTooShort ? 'too short. 8 characters minimum': ''">
                </app-invalid-input-message> 
            </div>

            <div>
                <app-form-control
                    formControlName="confirmPassword"
                    type="password"
                    iconPath="./assets/images/password.svg"
                    placeholder="Confirm Password"
                    [invalidInput]="confirmPasswordRequired! || passwordMismatch!">
                </app-form-control>

                <!--invalid confirm password message-->
                <app-invalid-input-message
                    [message]="confirmPasswordRequired ? 'required': passwordMismatch ? 'password mismatch': ''">
                </app-invalid-input-message> 
            </div>
        </div>
        
        <!--apply password reset-->
        <div class="xl:w-[50%] xl:mx-auto">
            <app-action-btn 
                btnText="Apply" 
                [isEnabled]="isSubmitEnabled()"
                [isLoading]="isMakingRequest()"
                (clickEventEmitter)="onApply()">
            </app-action-btn>
        </div>
    </form>
</div>