<!--action btns-->
<div class="w-full h-fit flex justify-center items-center -translate-y-[50%]">
    <!--only show the add list item btn-->
    @if (mode() == 'add') {
        @if (screenSize() === 'small' || screenSize() === 'xsmall') {
            <app-icon-btn iconPath="assets/images/add.png" (emitter)="newListEvent.emit()" />
        }
        @else { 
            <app-outline-btn iconPath="assets/images/add.png" label="Add list" (emitter)="newListEvent.emit()" />
        }
    }
    @else {  <!--cancel and save list btns-->
        <!--cancel--> 
        @if (screenSize() === 'small' || screenSize() === 'xsmall') {
            <app-icon-btn iconPath="assets/images/cancel.png" (emitter)="cancelListEvent.emit()" />
        }
        @else { 
            <app-outline-btn iconPath="assets/images/cancel.png" label="Cancel" (emitter)="cancelListEvent.emit()" />
        }
        <!--add list item-->
        <app-icon-btn iconPath="assets/images/add.png" (emitter)="addListItemEvent.emit()" class="mx-6" />
        <!--save-->
        @if (screenSize() === 'small' || screenSize() === 'xsmall') {
            <app-icon-btn iconPath="assets/images/check.png" (emitter)="saveListEvent.emit()"  />
        }
        @else { 
            <app-outline-btn iconPath="assets/images/check.png" label="Save" (emitter)="saveListEvent.emit()" />
        }
    }
</div>