<div class="relative z-0 w-full h-full bg-main-bg">
    @if (isXSmallScreen || isSmallScreen) {
    <img class="z-10 absolute -top-9 -left-8 w-56" src="../assets/images/small-screen/bg circle top left.svg"
        alt="bg-arcs" />
    <img class="absolute top-0 translate-y-[-50%] left-0 w-[100%] h-[120%]"
        src="../assets/images/small-screen/big bg circle top quarter.svg" alt="bg-arcs" />
    <img class="z-10 absolute top-28 -right-8 w-52" src="../assets/images/small-screen/bg circle top right.svg"
        alt="bg-arcs" />
    <img class="absolute -bottom-12 -left-16 w-80" src="../assets/images/small-screen/bg circle bottom.svg"
        alt="bg-arcs" />
    }
    @else {
    <img class="z-10 absolute -top-20 -left-2 w-56" src="../assets/images/medium-large-screen/bg circle top left.svg"
        alt="bg-arcs" />
    <img class="absolute top-0 translate-y-[-60%] left-0 w-[100%]"
        src="../assets/images/medium-large-screen/big bg circle top quarter.svg" alt="bg-arcs" />
    <img class="z-10 absolute top-28 -right-28 w-52" src="../assets/images/medium-large-screen/bg circle top right.svg"
        alt="bg-arcs" />
    <img class="absolute -bottom-56 -left-48 w-80" src="../assets/images/medium-large-screen/bg circle bottom.svg"
        alt="bg-arcs" />
    }
</div>

<div class="z-10">
    <router-outlet></router-outlet>
</div>