<div class="fixed z-0 top-0 left-0 w-full h-full bg-main-bg">
    @if (isXSmallScreen || isSmallScreen) {
    <img class="z-10 fixed -top-9 -left-8 w-32" src="../assets/images/small-screen/bg circle top left.svg"
        alt="bg-arcs" />
    <img class="fixed top-0 translate-y-[-50%] left-0 w-[100%] h-[120%]"
        src="../assets/images/small-screen/big bg circle top quarter.svg" alt="bg-arcs" />
    <img class="z-10 fixed top-28 -right-8 w-20" src="../assets/images/small-screen/bg circle top right.svg"
        alt="bg-arcs" />
    <img class="fixed -bottom-12 -left-16 w-44" src="../assets/images/small-screen/bg circle bottom.svg"
        alt="bg-arcs" />
    }
    @else {
    <img class="z-10 fixed -top-20 -left-2 w-56" src="../assets/images/medium-large-screen/bg circle top left.svg"
        alt="bg-arcs" />
    <img class="fixed top-0 translate-y-[-60%] left-0 w-[100%]"
        src="../assets/images/medium-large-screen/big bg circle top quarter.svg" alt="bg-arcs" />
    <img class="z-10 fixed top-28 -right-28 w-52" src="../assets/images/medium-large-screen/bg circle top right.svg"
        alt="bg-arcs" />
    <img class="fixed -bottom-56 -left-48 w-80" src="../assets/images/medium-large-screen/bg circle bottom.svg"
        alt="bg-arcs" />
    }
</div>

<div class="absolute z-10 w-full h-full flex justify-center items-center">
    <div
        class="w-[90%] h-[95%] md:w-[60%] md:h-[80%] lg:w-[55%] lg:h-[88%] xl:w-[50%] xl:h-[88%] 2xl:w-[45%] 2xl:h-[70%]">
        <router-outlet></router-outlet>
    </div>
</div>